<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="footer">
        <!--首页底部信息 begin-->
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-2">
                            <img src="images/logo.png" th:src="@{/images/logo.png}">
                        </div>
                        <div class="col-md-6" style="margin-top: 10px;">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-10">
                                    <a href="http://www.soulmatelq.top/">SOM信息科技有限公司&copy;所有</a>
                                </div>
                            </div>
                            <div class="gap"></div>
                            <div class="row">
                                <div class="col-md-offset-2 col-md-10">
                                    <span class="text-info">SOM&reg; |&nbsp;</span>
                                    <span class="text-info"><a href="http://www.soulmatelq.top">SOM博客</a> |&nbsp;</span>
                                    <span class="text-info">2019－2020 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--首页底部信息end-->
    </header>
</html>